<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - LoginShopping</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css'>
<link rel='stylesheet' href='https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'><link rel="stylesheet" href="./stylelog.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
    <v-app>
      <v-container fill-height>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="login-container">
              <v-card-title>
                <div class="login-header">
                  <h1>Login</h1>
                  <p>Please enter your credentials</p>
                </div>
              </v-card-title>
              <v-card-subtitle>
                <v-form @submit.prevent="handleLogin">
                  <v-text-field
                    v-model="userName"
                    label="User Name"
                    outlined
                    dense
                    required
                  ></v-text-field>
                  <v-text-field
                    v-model="password"
                    label="Password"
                    type="password"
                    outlined
                    dense
                    required
                  ></v-text-field>
                  <v-btn type="submit" color="#EBDCB2" block>Login</v-btn>
                </v-form>
                <v-alert
                  v-if="errorMessage"
                  type="error"
                  dismissible
                >
                  {{ errorMessage }}
                </v-alert>
              </v-card-subtitle>
              <v-card-actions class="login-footer">
                <v-btn text @click="goToSignup">Don't have an account? Sign up</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-app>
  </div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js'></script><script  src="./scriptlog.js"></script>

</body>
</html>
